.message
  %p 毎日15時に自動集計しています。

.share
  -#tweet-button-start
  = link_to 'Tweet', "https://twitter.com/share?ref_src=twsrc%5Etfw",
  class: 'twitter-share-button',
  'data-show-count': "false",
  'data-text': "#BCリーグ\n#ふるさとの全力プロ野球"
  %script{async: '', src: "https://platform.twitter.com/widgets.js", charset: "utf-8"}
  -#tweet-button-end

%table.count-table
  %thead
    %tr
      %th.count-table__cell--header
        Team
      %th.count-table__cell--header
        Followers
      %th.count-table__cell--header
        up / down
  %tbody
    - @followers_today.each do |follower|
      %tr
        %td.count-table__cell.count-table__cell--hover
          = link_to follower.team, class: 'count-table__cell--link' do
            %span.count-table__cell--text
              = follower.team.short_name
        %td.count-table__cell
          %span.count-table__cell--text
            = follower.followers_count
        %td.count-table__cell
          %span.count-table__cell--text
            - if @followers_yesterday.find_by(team: follower.team)
              = format_math_sign(follower.followers_count - @followers_yesterday.find_by(team: follower.team).followers_count.to_i)

.last-updated
  last updated : #{@followers_today.first.created_at.strftime("%F %R")}
