%h2.team-name
  = @team.name

= link_to "https://twitter.com/#{@team.screen_name}", class: 'twitter-button', target: '_blank' do
  = image_tag 'Twitter_Social_Icon_Rounded_Square_Color.svg', size: '30x30'

.follower-count
  %span.follower-count__label
    Followers:
  %span.follower-count__value
    = @team.followers.last.followers_count.to_s(:delimited)

.follower-count-remarks
  last updated : #{@team.followers.last.created_at.strftime("%F %R")}

%table.count-table
  %thead
    %tr
      %th.per-day-table__th
        Date
      %th.per-day-table__th
        Followers
      %th.per-day-table__th
        up / down
  %tbody
    - @followers.each do |follower|
      %tr
        %td.count-table__cell--per-day
          = follower.created_at.strftime("%y-%m-%d")
        %td.count-table__cell--per-day
          = follower.followers_count
        %td.count-table__cell--per-day
          = format_math_sign(updown_quantity(follower))

= paginate @followers, window: 2

.caption
  Stats
.last-ten-days
  %span.last-ten-days__label
    最近10日間 :
  %span.last-ten-days__updown
    = format_math_sign(updown_quantity_last_ten_days(@team))

.caption
  Beginning of month

%table.count-table
  %thead
    %tr
      %th.per-day-table__th
        Date
      %th.per-day-table__th
        Followers
  %tbody
    - year_range = @team.followers.first.created_at.year..@team.followers.last.created_at.year
    - year_range.to_a.product((1..12).to_a) do |year, month|
      - if follower_beginning_of_month = @team.followers.find_by(created_at: Time.gm(year, month, 1).all_day)
        %tr
          %td.count-table__cell--beginning-of-month
            = follower_beginning_of_month.created_at.strftime("%F")
          %td.count-table__cell--beginning-of-month
            = follower_beginning_of_month.followers_count
