%h1
  BCL Follower
%p
  毎日15時に自動集計しています。

-#tweet-button-start
= link_to 'Tweet', "https://twitter.com/share?ref_src=twsrc%5Etfw",
class: 'twitter-share-button',
'data-show-count': "false",
'data-text': "#BCリーグ\n#ふるさとの全力プロ野球"
%script{async: '', src: "https://platform.twitter.com/widgets.js", charset: "utf-8"}
-#tweet-button-end

%table
  %thead.table__table-header
    %tr
      %th.table__table-cell
        チーム
      %th.table__table-cell
        フォロワー数
      %th.table__table-cell
        前日比
  %tbody
    - @followers_today.each do |follower|
      %tr
        %td.table__table-cell
          = follower.team
        %td.table__table-cell
          = follower.followers_count
        %td.table__table-cell
          = format_math_sign(follower.followers_count - @followers_yesterday.find_by(team: follower.team)&.followers_count.to_i)
%p
  = "最終更新日： #{@followers_today.first.created_at.strftime("%F")}"
