%h1
  BCL Follower
%p
  毎日15時に自動集計しています。
%table
  %thead.table__table-header
    %tr
      %th.table__table-cell
        チーム
      %th.table__table-cell
        フォロワー数
      %th.table__table-cell
        前日比
  %tbody
    - @followers_today.each do |follower|
      %tr
        %td.table__table-cell
          = follower.team
        %td.table__table-cell
          = follower.followers_count
        %td.table__table-cell
          = format_math_sign(follower.followers_count - @followers_yesterday.find_by(team: follower.team)&.followers_count.to_i)
%p
  = "最終更新日： #{@followers_today.first.created_at.strftime("%F")}"
