%h1
  BCL Follower
%p
  ※取得に失敗する場合は時間を空けてから再度アクセスしてください。
%table
  %tbody
    %tr
      %td.table__table-cell
        栃木GB
      %td.table__table-cell
        = @count_tochigi
    %tr
      %td.table__table-cell
        新潟ABC
      %td.table__table-cell
        = @count_niigata
    %tr
      %td.table__table-cell
        富山GRNTB
      %td.table__table-cell
        = @count_toyama
    %tr
      %td.table__table-cell
        石川MS
      %td.table__table-cell
        = @count_ishikawa
    %tr
      %td.table__table-cell
        福島RH
      %td.table__table-cell
        = @count_fukushima
    %tr
      %td.table__table-cell
        群馬DP
      %td.table__table-cell
        = @count_gunma
    %tr
      %td.table__table-cell
        神奈川FD
      %td.table__table-cell
        = @count_kanagawa
    %tr
      %td.table__table-cell
        信濃GS
      %td.table__table-cell
        = @count_sinano
    %tr
      %td.table__table-cell
        茨城AP
      %td.table__table-cell
        = @count_ibaraki
    %tr
      %td.table__table-cell
        埼玉武蔵HB
      %td.table__table-cell
        = @count_saitama
    %tr
      %td.table__table-cell
        オセアン滋賀UBC
      %td.table__table-cell
        = @count_shiga
    %tr
      %td.table__table-cell
        福井WR
      %td.table__table-cell
        = @count_fukui
