%p#notice= notice

%p
  %b Datetime:
  = @follower.datetime
%p
  %b Tomaya:
  = @follower.tomaya
%p
  %b Niigata:
  = @follower.niigata
%p
  %b Shinano:
  = @follower.shinano
%p
  %b Ishikawa:
  = @follower.ishikawa
%p
  %b Shiga:
  = @follower.shiga
%p
  %b Ibaraki:
  = @follower.ibaraki
%p
  %b Fukushima:
  = @follower.fukushima
%p
  %b Saitama:
  = @follower.saitama
%p
  %b Tochigi:
  = @follower.tochigi
%p
  %b Gunma:
  = @follower.gunma
%p
  %b Kanagawa:
  = @follower.kanagawa
%p
  %b Fukui:
  = @follower.fukui

= link_to 'Edit', edit_follower_path(@follower)
\|
= link_to 'Back', followers_path
